run = ["uvicorn", "main:app", "--host", "0.0.0.0", "--reload"]
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"
packages = ["libxcrypt"]

[deployment]
run = ["uvicorn", "main:app", "--host", "0.0.0.0"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "React Dev Server"
author = 10868327
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
